<html>
    <head>
        {% load staticfiles %}
        <!--  -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" title="main styling"/>

        <!-- keeps elements from transitioning on page load -->
        <script type="text/javascript" src="{% static 'css/help.js' %}"></script>

        <!-- font -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body class="preload">
        <div id = "top">
            <a href = "{% url 'admin:index' %}">
                Administrator
            </a>
        </div>
        <div id = "links">
            <ul id = "sitelinks">
                <li>
                    <a href = "{% url 'common.helpers.Index'%}">
                        Home
                    </a>
                </li>
                <li>
                    <a href = "{% url 'forum:index'%}">
                        Forum
                    </a>
                </li>
                <li>
                    <a href = "{% url 'news:index' %}">
                        News
                    </a>
                </li>
                <li>
                    <a href = "{% url 'poll:index' %}">
                        Poll
                    </a>
                </li>
            </ul>
        </div>
        <div id = "body">
            {% block body %}
                <h1>
                    Welcome to the home site.
                </h1>
                <p>
                    The purpose of this website is to provide an online environment for the discussion of ethical matters.
                    Please keep the questions and comments civil and relevent to the topic.
                    This website is open source and the source code is accessable at <a href = "https://github.com/DylanTheVillain/Ethics-World" target = "_blank">this location</a>.
                </p>
            {% endblock %}
        </div>
    </body>
</html>
