{% extends "home/basesite.html" %}

{% block head %}

{% endblock %}

{% block body %}
    <div id = "newquestion">
        <textarea name = "question" form = "questionform" rows = "5" cols = "20" placeholder="Enter new question here." required></textarea>
        <form action = "{% url 'forum:createquestion' %}" method = "POST" id = "questionform">
            {% csrf_token %}
            <input type = "submit" value = "Post Question"/>
        </form>
    </div>
    <div id = "questions">
        <ul>
            {% for question in questions %}
                <li>
                    <a href = "{% url 'forum:individualquestion'%}?questionHash={{ question.issueHash }}">
                        {{ question.issueQuestion }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
