{% extends "home/basesite.html" %}

{% block head %}
    <script type = "text/javascript">
        function AddAnswer()
        {
            newLi = document.createElement("li");
            newInput = document.createElement("input");
            newButton = document.createElement("button");

            newButton.innerHTML = "X";
            newButton.setAttribute("onclick", "DeleteAnswer(this)");
            newButton.type = "button";

            newInput.type = "text";
            newInput.name = "pollanswer";
            newInput.required = true;

            newLi.appendChild(newButton);
            newLi.appendChild(newInput);

            document.getElementById("answers").appendChild(newLi);
        }

        function DeleteAnswer(answer)
        {
            document.getElementById("answers").removeChild(answer.parentNode);
        }
    </script>
{% endblock %}

{% block body %}
    <div id = "polls">
        <ul>
            {% for poll in polls %}
                <li>
                    <a href = "{% url 'poll:indivpoll' %}?pollhash={{ poll.questionHash }}">
                        {{ poll.questionText }}
                    </a>
                    </br>
                    <a href = "{% url 'poll:pollstats' %}?questionhash={{ poll.questionHash }}">
                        View statistics
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id = "newpoll">
        <textarea name = "polltext" form = "pollform" rows = "10" cols = "50">
            New Question
        </textarea>
        </br>
        <form action = "{% url 'poll:makepoll' %}" method = "POST" id = "pollform">
            {% csrf_token %}
            <ul id = "answers">
            </ul>
            <button type = "button" onclick = "AddAnswer()">
                New answer
            </button>
            </br>
            <input type = "submit" value = "Create Poll"/>
        </form>
    </div>
{% endblock %}
