body {
	background-color: lightgrey;
	font-family: 'Open Sans', sans-serif;

	width: 80%;
	margin: auto;
}

#top {
	position: absolute;
	top: 10px;
	right: 10px;
}

#links {
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

#links > ul > li {
	transition: background-color 0.25s linear;
	background-color: rgb(20, 20, 20);
	padding: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	display: inline;
}

#links > ul > li:hover {
	background-color: rgb(45, 45, 45);
}

#links > ul > li > a {
	color: white;
	text-decoration: none;
}
