body {
	background-color: lightgrey;
	font-family: 'Open Sans', sans-serif;

	width: 80%;
	margin: auto;
}

#top {
	position: absolute;
	top: 10px;
	right: 10px;
}

#links {
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

#links > ul > li {
	transition: all 0.25s linear;
	background-color: black;
	padding: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	display: inline;
}

#links > ul > li:hover {
	background-color: grey;
}

#links > ul > li > a {
	color: white;
	text-decoration: none;
}
