body {
	background-color: lightgrey;
	font-family: 'Open Sans', sans-serif;

	width: 80%;
	margin: auto;
}

#links {
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

#links > ul > li {
	background-color: black;
	padding: 5px;
	display: inline;
}

#links > ul > li > a {
	color: white;
}
