{% extends "home/basesite.html" %}

{% block body %}
<div id = "newnews">
    <form action = "{% url 'news:addnews' %}" method = "POST" id = "newsform">
        {% csrf_token %}
        Input url of news site here <input type = "url" name = "newsurl" required/>
        <br/>
        <textarea name = "newsinformation" form = "newsform" rows = "5" cols = "100" placeholder="Enter new information about the news here."></textarea>
        <br/>
        <input type = "submit" value = "Post Link"/>
    </form>
</div>
<div id = "currentnews">
    <ul>
        {% for news in newsreports %}
            <li>
                <a href = "{{ news.newsLink }}" target = "_blank">
                    {{ news.newsLink }}
                </a>
                <br/>
                <p>
                    {{ news.newsText }}
                </p>
                <p>
                    Posted on: {{ news.newsDate }}
                </p>
                <a href = "{% url 'news:commentpage' %}?newsHash={{ news.newsHash }}" target = "_blank">
                    Click here to view and make comments.
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
